<div class="{{layoutClass}}">
                                            
    <div class="{{containerClass}}">
        {{#if showicons}}
        <span class="input-group-addon">
            <i class="material-icons"></i>
        </span>
        {{/if}}
        
        <div class="{{inputClass}} {{#if @root.selectedCategories}} {{#each @root.selectedCategories}}{{#equalality this ../addInfo}}{{/equalality}}{{/each}}{{/if}}" data-toggle="wizard-checkbox">
            <label class="control-label">{{{label}}}</label>
            {{#switch type}}
                {{#case "textarea"}}
                    <textarea class="form-control" placeholder="" rows="{{rows}}" id="{{name}}" name="{{name}}">{{#if @root.frmdata}} {{lookup @root.frmdata name}}{{/if}}</textarea>
                {{/case}}
                {{#case "text" "file" "checkbox" "email"}}
                    <input type="{{type}}" id="{{name}}" {{#if minlength}} minlength="{{minlength}}" {{/if}}  {{#if maxlength}} maxlength="{{maxlength}}" {{/if}} {{#if required}} required="{{required}}" {{/if}} name="{{name}}" class="form-control"
                    {{#if @root.frmdata}} value="{{lookup @root.frmdata name}}" {{/if}}>
                    {{#if @root.flasherror}}
                        {{#each @root.flasherror}}                            
                            {{#equal param ../name msg}}
                                
                            {{/equal}}
                        {{/each}}
                    {{/if}}
                {{/case}}
                {{#case "number"}}
                    <input type="{{type}}" id="{{name}}" {{#if minlength}} minlength="{{minlength}}" {{/if}} {{#if min}} min="{{min}}" {{/if}}  {{#if maxlength}} maxlength="{{maxlength}}" {{/if}} {{#if required}} required="{{required}}" {{/if}} name="{{name}}" class="form-control"
                    {{#if @root.frmdata}} value="{{lookup @root.frmdata name}}" {{else}}  value="{{defaultValue}}" {{/if}}>
                    {{#if @root.flasherror}}
                        {{#each @root.flasherror}}                            
                            {{#equal param ../name msg}}
                                
                            {{/equal}}
                        {{/each}}
                    {{/if}}
                {{/case}}
                {{#case "select"}}
                    <select id="{{name}}" name="{{name}}" class="form-control">
                        {{#each options}}
                            <option value="{{value}}" {{#if @root.frmdata.businessNoOfLocations}} {{#if @root.frmdata.businessNoOfLocations value}} selected="selected" {{/if}}{{/if}}>{{value}}</option>
                        {{/each}}
                    </select>
                {{/case}}
            {{/switch}}
            {{#if showCatIcon}}
                <div class="icon">
                    <i class="fa {{catIcon}}"></i>
                </div>
            {{/if}}
            <h6>{{addInfo}}</h6>
        </div>
    </div>
</div>
