<!--   Big container   -->
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <!--      Wizard container        -->
            {{#if results}}
                <table class="table responsive">
                    <tr><th>Deal Subcategory</th><th>Deal Store</th><th>Deal Store Address</th><th>Deal City</th><th>Deal State</th><th>Deal Offer</th></tr>
                {{#each results}}
                   <tr><td> {{dealSubcategory}}</td><td> {{dealStore}}</td><td> {{dealStoreAddress}}</td><td> {{dealCity}}</td><td> {{dealState}}</td><td> {{dealOffer}}</td></tr>
                {{/each}}
                </table>
            {{else}}
                <div class="col-lg-12">
                    <h3>No deals found.</h3>
                </div>
            {{/if}}
        </div>
    </div>
    <!-- end row -->
</div>
<!--  big container -->